.idea/
.venv/
.venv2.7/
__pycache__

caesium.cfg

# Local Storage
# API all in one
aio/
# API all in text
ait/
# API simplet txt
msg/
echo/
# API sqlite
idec.db
# Messages read-markers state
lasts.lst
# Outgoing messages
out/
